<!doctype>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title></title>
  <style TYPE="text/css">
    @page { margin-right: 0.59in; margin-top: 0.79in; margin-bottom: 0.79in }
    p { text-indent: 0.49in; margin-bottom: 0.08in; direction: ltr; line-height: 150%; text-align: justify; widows: 0; orphans: 0 }
    .ml{position: relative; left: 30px;}
    p.western { font-family: DejaVu Sans, serif; font-size: 12pt;}
    *{font-family: DejaVu Sans;}
    ul li{ list-style-type: none; }
    .block{margin-bottom: 10px;}
  </style>
</head>
<body lang="en-GB" link="#0000ff" DIR="LTR">
<p lang="en-US" align=center>Технический документ проекта</p>

<div class="block" style="page-break-after: avoid;"><p class="western"><b>1. Название продукта<b></p><p class="western ml">
  <?= $one ?>
</p></div>
<div class="block" style="page-break-after: avoid;"><p class="western"><b>2.  Назначение продукта (цель создания)<b></p><p class="western ml">
  <?= $two ?>
</p></div>
<div class="block" style="page-break-after: avoid;"><p class="western"><b>3.  Язык интерфейса системы <b></p><p class="western ml">
  <?= $three ?>
</p></div>
<div class="block" style="page-break-after: avoid;"><p class="western"><b>4.  Целевые платформы <b></p><p class="western ml">
  <?= $four ?>
</p></div>
<div class="block" style="page-break-after: avoid;"><p class="western"><b>5.  Предполагаемая возрастная аудитория продукта<b></p><p class="western ml">
  <?= $five ?>
</p></div>
<div class="block" style="page-break-after: avoid;"><p class="western"><b>6.  Ключевые слова описания системы <b></p><p class="western ml">
  <?= $six ?>
</p></div>
<div class="block" style="page-break-after: avoid;"><p class="western"><b>7.  Количество модулей продукта <b></p><p class="western ml">
  <?= $seven ?>
</p></div>
<div class="block" style="page-break-after: avoid;"><p class="western"><b>8.  Навигация и интерфейс системы <b></p><p class="western ml">
  <?= $eight ?>
</p></div>
<div class="block" style="page-break-after: avoid;"><p class="western"><b>9.  Функциональные модули системы <b></p><p class="western ml">
  <?= $nine ?>
</p></div>
<div class="block" style="page-break-after: avoid;"><p class="western"><b>10. Проведение рекламной кампании (раскрутка)<b></p><p class="western ml">
  <?= $ten ?>
</p></div>
<div class="block" style="page-break-after: avoid;"><p class="western"><b>11. Срок разработки продукта <b></p><p class="western ml">
  <?= $eleven ?>
</p></div>
<div class="block" style="page-break-after: avoid;"><p class="western"><b>12. Порядок передачи продукта <b></p><p class="western ml">
  <?= $twelve ?>
</p></div>
<div class="block" style="page-break-after: avoid;"><p class="western"><b>13. Сопровождение системы <b></p><p class="western ml">
  <?= $thirteen ?>
</p></div>
<div class="block" style="page-break-after: avoid;"><p class="western"><b>14. Дополнительные условия <b></p><p class="western ml">
  <?= $fourteen ?>
</p></div>

</body>
</html>